/*****/

body{min-width: 1200px;background: #f6f6f6;}
.container{width: 1200px;}
p{margin-bottom: 0;}
a:hover{color: #fb3434;text-decoration: none;}
.search .input-text.focus{border: inherit;box-shadow: none;}
.c-main{color: #fb3434;}
.btn-main{color:#fff;background-color:#fb3434; border-color:#fb3434;}
.btn-main:hover,
.btn-main:focus,
.btn-main:active,
.btn-main.active{color:#fff;background-color:#c62b26;border-color:#c62b26;}
.btn-main-outline{color:#fb3434;background-color:transparent;background-image:none;border-color:#fb3434}
.btn-main-outline.active,.btn-main-outline.focus,.btn-main-outline:active,.btn-main-outline:focus,{color:#fff;background-color:#fb3434;border-color:#fb3434}
.btn-pink{background: #fc5c5c;border: 1px solid #fc9293;border-radius: 50px;color: #fff;padding: 4px 25px;}
.btn-pink:hover,
.btn-pink:focus,
.btn-pink:active,
.btn-pink.active{background: #fc9293;color: #fff;}
.flexbox{display: -webkit-box; display: -webkit-flex; display: flex;-webkit-box-align: center;-ms-flex-align: center;align-items: center;}
.flex{-webkit-box-flex: 1; -webkit-flex: 1;flex: 1;}
.btn:hover,.btn:active{-webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.15);box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.15);}

/*top*/
.top{height: 36px;background: #f8f8f8;border-bottom: 1px solid #e1e1e1;}
.top p{display: inline-block;font-size: 12px;line-height: 36px;}
.top .f-r p{margin: 0 10px;}
.top .f-r p span{margin: 0 5px;}
/*head*/
.head{height: 100px;background: #fff;}
.head .logo{float: left;display: -webkit-box;display: -ms-flexbox;display: flex;align-items: center;width: 250px;height: 100px;}
.head .logo a{display: block;-webkit-box-flex: 1;-ms-flex: 1;flex: 1;}
.head .search{float: left;width: 750px;}
.head .search form{margin: 30px auto 0;position: relative;width: 500px;height: 45px;}
.head .search .input-text{padding-left: 40px;height: 40px;border: 2px solid #fb3434;border-radius: 50px;}
.head .search i{position: absolute;left: 15px;top: 5px;font-size: 20px;color: #999;}
.head .search .btn{padding: 0 30px;position: absolute;right: 0;top: 0;height: 40px;border-radius: 50px;}
.head .barcode{float: right;margin-top: 10px;width: 200px;}
.head .barcode p{font-size: 14px;color: #646464;}
/*navigation*/
.navigation{height: 44px;background: #fb3434;}
.navigation ul{padding-top: 4px;}
.navigation ul li{float: left;display: inline-block;margin-right: 40px;}
.navigation ul li a{display: block;padding:5px 20px;font-size: 16px;color: #fff;}
.navigation ul li:hover a,.navigation ul li.cur a{background: #fff;color: #fb3434;border-radius: 50px;}
/*series*/
.series{padding-bottom: 1px;height:46px;background: #fff;border: 1px solid #e1e1e1;border-width: 1px 0;}
.series ul li{float: left;}
.series ul li a{display: block;padding: 0 10px;margin: 0 5px;font-size: 14px;line-height: 46px;}
.series ul li:hover a,.series ul li.cur a{color: #fb3434;border-bottom: 2px solid #fb3434;}
/*banner*/
.banner{position: relative;width: 800px;height: 340px;margin: 0 auto;float: left;}
.banner .bd{position:relative;z-index:0;overflow:hidden;margin:0 auto;}
.banner .bd li,.banner .bd ul{width:100%!important;}
.banner .bd li{overflow:hidden;height:340px;text-align:center;}
.banner .bd li a{display:block;height:340px;}
.banner .hd{position:absolute;bottom:10px;left:0;right: 0;z-index: 2;width: 750px;margin: 0 auto;}
.banner .hd ul{text-align:center;}
.banner .hd ul li{display:inline-block;overflow:hidden;margin:5px;width:10px;height:10px;background-color:#ccc;font-size: 0;border-radius: 20px;cursor:pointer;}
.banner .hd ul .on{background:#fb3434;}
.banner .container{position: absolute;top: 0;left: 0;right: 0;z-index: 1;}
.banner-l{float: left;width: 320px;height: 340px;background: #fff;text-align: center;}
.banner-l h3{margin: 10px 0;font-size: 16px;font-weight: bold;}
.banner-l .recom{position: relative;padding: 10px;height: 250px;font-size: 14px;}
.banner-l .recom .pbd li{overflow:hidden;height:220px;text-align:center;}
.banner-l .recom .pbd li a{display:block;height:220px;}
.banner-l .recom .pbd li img{width: 150px;height: 150px;}
.banner-l .recom .phd{position:absolute;bottom:10px;left:0;right: 0;}
.banner-l .recom .phd ul{text-align:center;}
.banner-l .recom .phd ul li{display:inline-block;overflow:hidden;margin:5px;width:10px;height:10px;background-color:#ccc;font-size: 0;border-radius: 20px;cursor:pointer;}
.banner-l .recom .phd ul .on{background:#fb3434;}
.banner-r{float: right;width: 220px;height: 340px;background: #fff;font-size: 14px;line-height: 32px;text-align: center;}
.banner-r .login{height:174px;border-bottom: 1px solid #e1e1e1;display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-align: center;-ms-flex-align: center;align-items: center;-webkit-box-orient: vertical;-webkit-box-direction: normal;-ms-flex-direction: column;flex-direction: column;-webkit-box-pack: center;-ms-flex-pack: center;justify-content: center;}
.banner-r .login img{display: inline-block;width: 70px;height: 70px;}
/*.banner-r .jifen{height: 175px;}
.banner-r .jifen img{display: inline-block;padding-top: 30px;margin-bottom: 10px;width: 70px;height: 70px;}*/
.banner-r .jifen{height: 165px;-webkit-box-pack: center;-ms-flex-pack: center;justify-content: center;}
.banner-r .jifen img,.banner-r .jifen .txt{float: left;}
.banner-r .jifen .title {display: block; font-family: "微软雅黑"; font-size: 20px; font-weight: 700; margin-bottom: 5px; border-bottom: 1px solid rgb(51, 51, 51); }
.banner-r .jifen .txt span { display: block; color: #333; white-space: nowrap; }
.banner-r .jifen .txt span em {font-style: normal; color: #fff; font-weight: 700; display: inline-block; background: #ff464e; padding: 0 4px; margin: 0 2px; border-radius: 10px;line-height: 20px; }

/*service*/
.service ul{height: 80px;background: #fff;margin-top: 20px;}
.service ul li{float: left;padding-top: 20px;width: 20%;display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-pack: center;-ms-flex-pack: center;justify-content: center;}
.service ul li p{margin-right: 10px;width: 40px;height: 40px;border-radius: 50%;border: 1px solid #fb3434;font-size: 20px;color: #fb3434;text-align: center;line-height: 40px;}
.service ul li p i{font-size: 24px;}
.service ul li h3{padding: 0;font-size: 14px;line-height: 24px;}
.service ul li h4{margin: 0;font-size: 12px;}
/*indexblock*/
.indexblock{margin: 20px auto;padding: 5px 15px 0;background: #fff;}
.hottitle p{font-size: 18px;font-weight: bold;line-height: 40px;}
.hottitle p i{font-size: 20px;color: #fb3434;}
/*temai*/
.temai ul li{float: left;}
.temai ul li + li{margin-left: 15px;}
.temai .item{position: relative;margin-bottom: 20px;width: 220px;height: 390px;background: #fff;border: 1px solid #e1e1e1;}
.temai .item .link{display: block;}
.temai .item .link img{width: 100%;height: 220px;}
.temai .item .link p{padding: 0 5px;font-size: 14px;color: #666;line-height: 40px;}
.temai .item:hover .link p{color: #fb3434;}
.temai .item .price{margin: 0 5px;padding-top: 5px;border-top: 1px solid #f1f1f1;}
.temai .item .price p{display: inline-block;font-size: 14px;}
.temai .item .price p span{font-size: 20px;font-weight: bold;}
.temai .item .price p del{color: #666;}
.temai .item .sales{padding: 5px 10px 0;}
.temai .item .sales img{display: inline-block;margin-right: 5px;margin-top: 2px;float: left;}
.temai .item .sales p{display: inline-block;float: left;}
.temai .item .coupon{position: absolute;right: -10px;width: 214px;height: 47px;background: url(../images/coupon.png) no-repeat center;}
.temai .item .coupon h5{display: inline-block;margin: 0;padding: 13px 0 0 30px;color: #fff;-webkit-transition: -webkit-transform .5s ease;transition: -webkit-transform .5s ease;-o-transition: transform .5s ease;transition: transform .5s ease;transition: transform .5s ease, -webkit-transform .5s ease;}
.temai .item .coupon h5 span{font-size: 20px;font-weight: bold;}
.temai .item .coupon p{float: right;margin: 12px 8px;color: #fb3434;font-weight: bold;line-height: 14px;}
.temai .item .coupon:hover h5{-webkit-transform: scale(1.1,1.1);-ms-transform: scale(1.1,1.1);transform: scale(1.1,1.1);}
/*main*/
.main{margin: 30px auto;}
/*color*/
.color{float: left;width: 237px;height: 430px;}
.color .tit{display:block;padding: 10px 0;color: #fff;text-align: center;}
.color .tit h3{font-size: 18px;}
.color .tit span{font-size: 12px;border-top: 1px solid #fff;}
.color .bd{width: 200px;margin: 20px auto;}
.color .bd img{border-radius: 5px;}
.color .bd p{padding-top: 10px;font-size: 14px;color: #fff;}
.color .hd,.color .hd a{text-align: center;font-size: 14px;color: #fff;}
.color .hd .pageState{margin: 0 5px;}
.color1{background:#ff87d1;background: -moz-linear-gradient(#ff87d1,#fbb5de);background: -webkit-gradient(linear,top,from(#ff87d1),to(#fbb5de));background: -webkit-linear-gradient(#ff87d1,#fbb5de);background: linear-gradient(#ff87d1,#fbb5de); }
.color2{background:#a3a0fc;background: -moz-linear-gradient(#a3a0fc,#b9c1fe);background: -webkit-gradient(linear,top,from(#a3a0fc),to(#b9c1fe));background: -webkit-linear-gradient(#a3a0fc,#b9c1fe);background: linear-gradient(#a3a0fc,#b9c1fe); }
.color3{background:#a4735e;background: -moz-linear-gradient(#a4735e,#d2b0a3);background: -webkit-gradient(linear,top,from(#a4735e),to(#d2b0a3));background: -webkit-linear-gradient(#a4735e,#d2b0a3);background: linear-gradient(#a4735e,#d2b0a3); }
.color4{background:#f78b4c;background: -moz-linear-gradient(#f78b4c,#fbc189);background: -webkit-gradient(linear,top,from(#f78b4c),to(#fbc189));background: -webkit-linear-gradient(#f78b4c,#fbc189);background: linear-gradient(#f78b4c,#fbc189); }
.color5{background:#ff8787;background: -moz-linear-gradient(#ff8787,#fcc5c5);background: -webkit-gradient(linear,top,from(#ff8787),to(#fcc5c5));background: -webkit-linear-gradient(#ff8787,#fcc5c5);background: linear-gradient(#ff8787,#fcc5c5); }
.color10{background:#c287ff;background: -moz-linear-gradient(#c287ff,#e0c5fc);background: -webkit-gradient(linear,top,from(#c287ff),to(#e0c5fc));background: -webkit-linear-gradient(#c287ff,#e0c5fc);background: linear-gradient(#c287ff,#e0c5fc); }
.color16{background:#4fd64f;background: -moz-linear-gradient(#4fd64f,#89f989);background: -webkit-gradient(linear,top,from(#4fd64f),to(#89f989));background: -webkit-linear-gradient(#4fd64f,#89f989);background: linear-gradient(#4fd64f,#89f989); }
.color8{background:#8787ff;background: -moz-linear-gradient(#8787ff,#c5c5fc);background: -webkit-gradient(linear,top,from(#8787ff),to(#c5c5fc));background: -webkit-linear-gradient(#8787ff,#c5c5fc);background: linear-gradient(#8787ff,#c5c5fc); }
.color9{background:#fecd9e;background: -moz-linear-gradient(#fecd9e,#f4d6ba);background: -webkit-gradient(linear,top,from(#fecd9e),to(#f4d6ba));background: -webkit-linear-gradient(#fecd9e,#f4d6ba);background: linear-gradient(#fecd9e,#f4d6ba); }
.color6{background:#ff8788;background: -moz-linear-gradient(#ff8788,#fdc5c6);background: -webkit-gradient(linear,top,from(#ff8788),to(#fdc5c6));background: -webkit-linear-gradient(#ff8788,#fdc5c6);background: linear-gradient(#ff8788,#fdc5c6); }
.color18{background:#4ac0ec;background: -moz-linear-gradient(#4ac0ec,#87d7ee);background: -webkit-gradient(linear,top,from(#4ac0ec),to(#87d7ee));background: -webkit-linear-gradient(#4ac0ec,#87d7ee);background: linear-gradient(#4ac0ec,#87d7ee); }
.color7{background:#ffc289;background: -moz-linear-gradient(#ffc289,#fce1c6);background: -webkit-gradient(linear,top,from(#ffc289),to(#fce1c6));background: -webkit-linear-gradient(#ffc289,#fce1c6);background: linear-gradient(#ffc289,#fce1c6); }
.color12{background:#f78b4c;background: -moz-linear-gradient(#f78b4c,#fbc189);background: -webkit-gradient(linear,top,from(#f78b4c),to(#fbc189));background: -webkit-linear-gradient(#f78b4c,#fbc189);background: linear-gradient(#f78b4c,#fbc189); }
.color17{background:#ff8787;background: -moz-linear-gradient(#ff8787,#fcc5c5);background: -webkit-gradient(linear,top,from(#ff8787),to(#fcc5c5));background: -webkit-linear-gradient(#ff8787,#fcc5c5);background: linear-gradient(#ff8787,#fcc5c5); }

/*bottom*/
.bottom{padding: 0 0 20px;background: #fff;text-align: center;}
.bottom ul li{display: inline-block;padding: 10px 0;}
.bottom ul li a{margin: 0 20px;font-size: 12px;color: #999;}
.bottom ul li a:hover{text-decoration: underline;}
.bottom p{font-size: 12px;color: #999;}

.fed-btns-info { padding: .5rem 0; color: #666; line-height: 1.125rem; text-align: center; cursor: pointer }
.fed-btns-info:hover { border-color: #ff5f00!important; opacity: .8; filter: alpha(opacity=80) }
.fed-rims-info { border: .0625rem solid #e2e2e2; border-radius: .1875rem }
.fed-btns-green { background-color: #fb3434!important; color: #fff!important }
.fed-hidden { display: none }
.fed-visible { display: block }
.fed-hide { display: none!important }
.fed-show { display: block!important }
.fed-text-center { text-align: center!important }
.fed-page-info { padding: 1.25rem 0 .9375rem }
.fed-page-info a, .fed-page-info input { padding: .5rem; margin: .125rem }
.fed-page-info input { margin-top: 15px; width: 150px; background-color: #eee }

@media (min-width:48rem) {
.fed-hide-sm { display: none!important }
.fed-text-sm-left { text-align: left!important }
.fed-text-sm-right { text-align: right!important }
.fed-text-sm-center { text-align: center!important }
.fed-show-sm-block { display: block!important }
.fed-show-sm-inline { display: inline!important }
.fed-show-sm-inline-block { display: inline-block!important }
.fed-page-info a, .fed-page-info input { padding: .625rem .9375rem; margin: .125rem .25rem }
.fed-page-info input { margin-top: 0; width: 90px }
}
@media (max-width:48rem) {
.fed-hide-xs { display: none!important }
.fed-text-xs-left { text-align: left!important }
.fed-text-xs-right { text-align: right!important }
.fed-text-xs-center { text-align: center!important }
.fed-show-xs-block { display: block!important }
.fed-show-xs-inline { display: inline!important }
.fed-show-xs-inline-block { display: inline-block!important }
}







