{% extends './default.html' %}
{% block body %}

<!--banner-->
<div class="banner-wrap">
    <div class="container cl">
        <div class="banner-l">
            <h3>[今日推荐]</h3>
            <div class="recom">
                <div class="pbd">
                    <ul>
                        {% for rec in today_rec %}
                        <li>
                            <a href="{{ rec.click_url }}">
                                <img src="{{ rec.pict_url }}">
                                <p>券后价：<span class="c-main">￥{{ rec.zk_final_price }}</span></p>
                                <p class="text-overflow">{{ rec.title }}</p>
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="phd"><ul></ul></div>
            </div>
        </div>
        <div class="banner cl">
            <div class="bd">
                <ul>
                    <!-- for 循环，广告 -->
                    <li _src="" style="width: 100%;">
                        <a href="" target="_blank"><img src="" width="760" height="338"></a>
                    </li>
                </ul>
            </div>
            <div class="hd"><ul></ul></div>
        </div>
    </div>
</div>
<script type="text/javascript">
    jQuery(".banner").slide({
        titCell: ".hd ul",
        mainCell: ".bd ul",
        effect: "fold",
        autoPlay: true,
        autoPage: true,
        trigger: "click",
        startFun: function(i) {
            var curLi = jQuery(".banner .bd li").eq(i);
            if ( !! curLi.attr("_src")) {
                curLi.css("background", curLi.attr("_src")).removeAttr("_src")
            }
        }
    });
    jQuery(".recom").slide({titCell:".phd ul",mainCell:".pbd ul",autoPlay:true,autoPage: true,});
</script>
<!--service-->
<div class="service">
    <div class="container cl">
        <ul class="cl">
            <li>
                <p class="f-l">券</p>
                <div class="f-l">
                    <h3 class="c-main">先领券再下单</h3>
                    <h4>享现金立减优惠</h4>
                </div>
            </li>
            <li>
                <p class="f-l"><i class="iconfont icon-filter"></i></p>
                <div class="f-l">
                    <h3 class="c-main">人工精选</h3>
                    <h4>优质、优惠商品</h4>
                </div>
            </li>
            <li>
                <p class="f-l"><i class="iconfont icon-fuwuwuyou"></i></p>
                <div class="f-l">
                    <h3 class="c-main">安全无忧</h3>
                    <h4>所有交易在淘宝完成安全放心</h4>
                </div>
            </li>
            <li>
                <p class="f-l">24</p>
                <div class="f-l">
                    <h3 class="c-main">每日上新</h3>
                    <h4>24小时不间断上新</h4>
                </div>
            </li>
            <li>
                <p class="f-l"><i class="iconfont icon-meiyuan"></i></p>
                <div class="f-l">
                    <h3 class="c-main">积分兑好礼</h3>
                    <h4>提交订单就能赚积分</h4>
                </div>
            </li>
        </ul>
    </div>
</div>

<!--temai-->
<div class="container cl">
    <div class="indexblock">
        <div class="hottitle">
            <p><i class="iconfont icon-fire"></i>特卖精选</p>
        </div>
        <div class="temai cl">
            <ul>
                {% for tx in txs %}
                <li>
                    <div class="item">
                        <a target="_blank" href="{{ tx.click_url }}" class="link">
                            <img src="{{ tx.pict_url }}">
                            <p class="text-overflow"></p>
                        </a>
                        <div class="price">
                            <p class="c-main">￥<span>{{ tx.reserve_price }}</span>(折扣价)</p>
                            <p><del>{{ tx.zk_final_price }}</del></p>
                        </div>
                        <div class="sales cl">
                        <img src="{{ url_for('static', filename='images/taobao.png') }}">
                            <p>月销量：<span class="c-primary">{{ tx.volume }}</span>件</p>
                        </div>
                        <a target="_blank" href="{{ tx.coupon_share_url }}" class="coupon">
                            <h5>优惠券：<span>{{ tx.coupon_amount }}</span>元</h5>
                            <p>立即<br>领券</p>
                        </a>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
<!--hot-->
<div class="container cl">
    <div class="indexblock">
        <div class="hottitle">
            <p><i class="iconfont icon-gift"></i>超级人气榜</p>
        </div>
        <div class="hot cl">
            <ul>
                <!-- for 循环，遍历所有的商品 -->
                <li>
                    <div class="item cl">
                        <div class="pic f-l mr-10">
                            <a target="_blank" href=""><img src=""></a>
                        </div>
                        <div class="txt f-l">
                            <div class="tit">
                                <img src=""><a href="">鞋子</a>
                            </div>
                            <div class="price cl">
                                <p class="f-l c-main">￥<span>券后价11</span><del>￥11</del></p>
                                <p class="f-r">省<span class="c-main">5</span>元</p>
                            </div>
                            <a target="_blank" href="" class="sales">月销量33件</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item cl">
                        <div class="pic f-l mr-10">
                            <a target="_blank" href=""><img src=""></a>
                        </div>
                        <div class="txt f-l">
                            <div class="tit">
                                <img src=""><a href="">鞋子</a>
                            </div>
                            <div class="price cl">
                                <p class="f-l c-main">￥<span>券后价11</span><del>￥11</del></p>
                                <p class="f-r">省<span class="c-main">5</span>元</p>
                            </div>
                            <a target="_blank" href="" class="sales">月销量33件</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item cl">
                        <div class="pic f-l mr-10">
                            <a target="_blank" href=""><img src=""></a>
                        </div>
                        <div class="txt f-l">
                            <div class="tit">
                                <img src=""><a href="">鞋子</a>
                            </div>
                            <div class="price cl">
                                <p class="f-l c-main">￥<span>券后价11</span><del>￥11</del></p>
                                <p class="f-r">省<span class="c-main">5</span>元</p>
                            </div>
                            <a target="_blank" href="" class="sales">月销量33件</a>
                        </div>
                    </div>
                </li>

            </ul>
        </div>
    </div>
</div>

<!--main-->
<!-- for循环 -->
<div class="main">
    <div class="container cl">
        <div class="color color{$vo.cid}">
            <a target="_blank" href="" class="tit">
                <h3>名称<i class="iconfont icon-right2"></i></h3>
                <span>备注</span>
            </a>
            <div class="bd">
                <ul>
                    <li><a href="" target="_blank">
                        <img src="" width="200" height="200">
                        <p>title</p></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="shop">
            <table>
                <tr>
                    <!-- for 循环 -->
                    <td>
                        <div class="item">
                            <div class="cl">
                                <div class="pic f-l">
                                    <a target="_blank" href=""><img src=""></a>
                                </div>
                                <div class="txt f-l">
                                    <div class="price"><p>券后价</p></div>
                                    <p class="c-main">￥<span></span></p>
                                    <p>价：￥555</p>
                                    <div class="coupon">领券省：666元</div>
                                </div>
                            </div>
                            <a target="_blank" href="" class="tit text-overflow">商品名称</a>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>


{% endblock %}
{% block js %}
{% endblock %}