{% extends './default.html' %}
{% block body %}

<!--banner-->
<div class="banner-wrap">
    <div class="container cl">
        <div class="banner cl">
            <div id="ad-swiper" class="swiper-container bd">
                <ul class="swiper-wrapper">
                    {% for banner in banners %}
                    <li class="swiper-slide" style="width: 300px;border-radius: 10px;">
                        <a href="{{ banner.coupon_share_url }}" target="_blank">
                            <img src="{{ banner.pict_url }}" width="290px" height="300px"
                                 style="background-size: cover;border-radius: 10px;">
                            <p>
                                折扣价：<span class="c-main">￥{{ banner.zk_final_price }}</span>
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                优惠券：<span class="c-main">￥{{ banner.coupon_amount }}</span>
                            </p>
                            <p class="text-overflow">{{ banner.title }}</p>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
                <div id="ads-swiper-pagination" class="swiper-pagination"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
        </div>
    </div>
</div>
<!--service-->
<div class="service">
    <div class="container cl">
        <ul class="cl">
            <li>
                <p class="f-l">券</p>
                <div class="f-l">
                    <h3 class="c-main">先领券再下单</h3>
                    <h4>享现金立减优惠</h4>
                </div>
            </li>
            <li>
                <p class="f-l"><i class="iconfont icon-filter"></i></p>
                <div class="f-l">
                    <h3 class="c-main">人工精选</h3>
                    <h4>优质、优惠商品</h4>
                </div>
            </li>
            <li>
                <p class="f-l"><i class="iconfont icon-fuwuwuyou"></i></p>
                <div class="f-l">
                    <h3 class="c-main">安全无忧</h3>
                    <h4>所有交易在淘宝完成安全放心</h4>
                </div>
            </li>
            <li>
                <p class="f-l">24</p>
                <div class="f-l">
                    <h3 class="c-main">每日上新</h3>
                    <h4>24小时不间断上新</h4>
                </div>
            </li>
{#            <li>#}
{#                <p class="f-l"><i class="iconfont icon-meiyuan"></i></p>#}
{#                <div class="f-l">#}
{#                    <h3 class="c-main">积分兑好礼</h3>#}
{#                    <h4>提交订单就能赚积分</h4>#}
{#                </div>#}
{#            </li>#}
        </ul>
    </div>
</div>

<!--temai-->
<div class="container cl">
    <div class="indexblock">
        <div class="hottitle">
            <p><i class="iconfont icon-fire"></i>精选推荐</p>
        </div>
        <div class="temai cl">
            <ul>
                {% for tx in txs %}
                <li {% if loop.index|math_mod() == 1 %}style="margin-left: 0px;"{% endif %}>
                    <div class="item">
                        <a target="_blank" href="{{ tx.click_url }}" class="link">
                            <img src="{{ tx.pict_url }}">
                            <p class="text-overflow"></p>
                        </a>
                        <div class="price">
                            <p class="c-main">￥<span>{{ tx.zk_final_price }}</span>(折扣价)</p>
                            <p><del>{{ tx.reserve_price }}</del></p>
                        </div>
                        <div class="sales cl">
                        <img src="{{ url_for('static', filename='images/taobao.png') }}">
                            <p>月销量：<span class="c-primary">{{ tx.volume }}</span>件</p>
                        </div>
                        <a target="_blank" href="{{ tx.coupon_share_url }}" class="coupon">
                            <h5>优惠券：<span>{{ tx.coupon_amount }}</span>元</h5>
                            <p>立即<br>领券</p>
                        </a>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="fed-page-info fed-text-center"
             data-to-page="True" data-page-no="{{ page_no }}" data-page-size="20" data-count="{{ total }}"></div>
    </div>
</div>

{% endblock %}
{% block js %}
    <script>
        $('.fed-page-info').pagination(function(pageNo){
            let to_url = window.location.href;
            to_url = to_url.split('?')[0]+'?p='+pageNo;
            window.location.href = to_url;
        });
        let myAdsSwiper = new Swiper('#ad-swiper', {
            slidesPerView: 4,
            spaceBetween: 15,
            autoplay: true,//可选选项，自动滑动
            pagination: {
                el: '#ads-swiper-pagination',
                type: 'progressbar',
            },
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
        });
        //页面右侧滚动到页面顶部相关
        window.onscroll= function(){
            //变量t是滚动条滚动时，距离顶部的距离
            let t = document.documentElement.scrollTop||document.body.scrollTop;
            if(t>=400){
                $(".call-top").show();
            }else{
                $(".call-top").hide();
            }
        };
        $('.call-top').click(function(){
            $('html,body').animate({scrollTop: '0px'}, 800);
        });
        $('#pc_search_btn').click(function(){
            let k = $('input[name="k"]').val();
            if(k){
                window.location.href='/q-k/'+k;
            }
        });
    </script>
{% endblock %}