{% extends './default_m.html' %}
{% block body %}
<div id="offCanvasContentScroll" class="mui-content mui-scroll-wrapper">
    <div class="mui-scroll">
        <!--banner-->
        <div id="ad-swiper" class="swiper-container mui-slider banner">
            <div class="swiper-wrapper mui-slider-group">
                {% for banner in banners %}
                    <div class="swiper-slide mui-slider-item">
                        <a href="{{ banner.coupon_share_url }}">
                            <img src="{{ banner.pict_url }}">
                            <span class="ads-intro">{{ banner.title }}</span>
                            <span class="ads-intro" style="bottom: 0px;">
                                折扣价:{{ banner.zk_final_price }}元
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                券:{{ banner.coupon_amount }}元
                            </span>
                        </a>
                    </div>
                {% endfor %}
            </div>
            <div id="ads-swiper-pagination" class="swiper-pagination"></div>
        </div>
        <!--nav-->
        <div class="nav mui-clearfix">
            <ul>
                <li>
                    <a href="/q/{{ cur_q|string|b64encode }}">
                        <img src="{{ url_for('static', filename='images/icon01.png') }}">
                        <p {% if cur_q_i|string=='' %} style="color: #6c37dd;"{% endif %}>
                            全部商品
                        </p>
                    </a>
                </li>
                {% for nav in navs|get_sub_list(0,9) %}
                <li>
                    <a href="/q-t/{{ (cur_q|string+'-'+material_map.get(cur_q|string)|get_list(loop.index-1))|b64encode }}">
                        <img src="{{ url_for('static', filename=nav_icons|get_list(loop.index-1)) }}">
                        <p {% if cur_q_i|string==material_map.get(cur_q|string)|get_list(loop.index-1) %} style="color: #6c37dd;"{% endif %}>
                            {{ nav }}
                        </p>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="popular">
        <!--main-->
            <div id="refreshContainer">
                <p><i class="iconfont icon-fire"></i>精选推荐</p>
                <div class="goods-list am-cf list-wrapper" style="padding-top: 10px;">
                    {% for tx in txs %}
                    <div class="goods-item">
                        <div class="tqk_pic">
                            <a data-transition="slide" href="{{ tx.click_url }}" class="img QtkSelfClick jump">
                                <span class="today-wrapper"><span>今日</span><span>新品</span></span>
                                <img src="{{ tx.pict_url }}">
                            </a>
                        </div>
                        <a data-transition="slide" href="javascript:;" class="title QtkSelfClick">
                            <div class="text" style=" color:#777777;">{{ tx.title }}</div>
                        </a>
                        <a href="{{ tx.coupon_share_url }}">
                            <div class="tqkprice">
                                <span class="text">折扣价:￥{{ tx.zk_final_price }}</span>
                                <label>领券省 {{ tx.coupon_amount }} 元</label>
                            </div>
                        </a>
                        <div class="price-wrapper">
                            <span class="text tqkico" style="padding-top: 4px;">
                                在售
                            </span>
                            <span class="price">{{ tx.reserve_price }}元</span>
                            <div class="sold-wrapper">
                                <span class="sold-num" style="font-size: 10px;">{{ tx.volume }}</span>
                                <span class="text" style="font-size: 10px;">月销量</span>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    <div class="fed-page-info fed-text-center"
                 data-to-page="True" data-page-no="{{ page_no }}" data-page-size="12" data-count="{{ total }}"></div>
                </div>
            </div>
        </div>
    </div>
    <a id="scrollToTop" class="backTop hide"> <span class="iconfont icon-top"></span> </a>
</div>
{% endblock %}
{% block js %}
    <script>
        $('.fed-page-info').pagination(function(pageNo){
            let to_url = window.location.href;
            to_url = to_url.split('?')[0]+'?p='+pageNo;
            window.location.href = to_url;
        });
        let myAdsSwiper = new Swiper('#ad-swiper', {
            slidesPerView: 2,
            spaceBetween: 15,
            autoplay: true,//可选选项，自动滑动
            pagination: {
                el: '#ads-swiper-pagination',
                type: 'progressbar',
            },
        });
    </script>
{% endblock %}