<!--footer-->
<div class="footer">
    <div class="footer-top">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
    <ul class="mui-clearfix">
        {% for menu in menus %}
            <li>
                <a href="/q/{{ menu|str_split(':')|get_list(1)|b64encode }}">
                    <i class="iconfont icon-{{ menu|str_split(':')|get_list(2) }}"></i>
                    <span>{{ menu|str_split(':')|get_list(0) }}</span>
                </a>
            </li>
        {% endfor %}
    </ul>
</div>