<!--footer-->
<div class="footer">
    <div class="footer-top">
        <div class="line"></div>
        <div class="circle"></div>
        <div class="line"></div>
    </div>
    <ul class="mui-clearfix">
        <li><a href=""><i class="iconfont icon-shouye"></i><span>首页</span></a></li>
        <li><a href=""><i class="iconfont icon-gift"></i><span>9块9包邮</span></a></li>
        <li><a href=""><i class="iconfont icon-sousuo"></i><span>超级搜券</span></a></li>
        <li><a href=""><i class="iconfont icon-temai"></i><span>超级人气榜</span></a></li>
        <li><a href=""><i class="iconfont icon-wode"></i><span>我的</span></a></li>
    </ul>
</div>