<aside id="offCanvasSide" class="mui-off-canvas-right">
    <div id="offCanvasSideScroll" class="mui-scroll-wrapper">
        <!--slide-->
        <div class="mui-scroll">
            <div class="series">
                <h4>商品分类</h4>
                <div class="mui-row">
                    <div class="mui-col-xs-4"><a href="" >全部商品</a></div>
                    <!--for-->
                    <div class="mui-col-xs-4"><a href="" >{$tree.name}</a></div>
                </div>
                <h4>导航索引</h4>
                <div class="mui-row">
                    <div class="mui-col-xs-4"><a href="" >首页</a></div>
                    <div class="mui-col-xs-4"><a href="" >今日新品</a></div>
                    <div class="mui-col-xs-4"><a href="" >9块9包邮</a></div>
                    <div class="mui-col-xs-4"><a href="" >20元封顶</a></div>
                    <div class="mui-col-xs-4"><a href="" >特卖精选</a></div>
                    <div class="mui-col-xs-4"><a href="" >超级人气榜</a></div>
                    <div class="mui-col-xs-4"><a href="" >今日头条</a></div>
                </div>
            </div>
        </div>
    </div>
</aside>