<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<title>券弟弟</title>
<meta name="keywords" content="券弟弟|众多好券" />
<meta name="description" content="券弟弟|众多好券|优质精品淘宝优惠券" />
<link rel="stylesheet" href="{{url_for('static', filename='css/m/mui.min.css')}}" />
<link rel="stylesheet" href="{{url_for('static', filename='css/m/style.css')}}"/>
<link rel="stylesheet" href="{{url_for('static', filename='css/swiper.css')}}"/>
<link rel="stylesheet" href="{{url_for('static', filename='css/m/fonts/iconfont.css')}}"/>
<script type="text/javascript" src="{{url_for('static', filename='js/jquery.min.js')}}" ></script>
{#<script type="text/javascript" src="{{url_for('static', filename='js/mui.js')}}" ></script>#}
<script type="text/javascript" src="{{url_for('static', filename='js/swiper.js')}}" ></script>
<script type="text/javascript" src="{{url_for('static', filename='layer/layer.js')}}" ></script>
<script type="text/javascript" src="{{url_for('static', filename='js/pagination.js')}}" ></script>
<script>
    (function(){
        var bp = document.createElement('script');
        var curProtocol = window.location.protocol.split(':')[0];
        if (curProtocol === 'https') {
            bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
        }
        else {
            bp.src = 'http://push.zhanzhang.baidu.com/push.js';
        }
        var s = document.getElementsByTagName("script")[1];
        s.parentNode.insertBefore(bp, s);
    })();
</script>