<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<title>优惠券</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link rel="stylesheet" href="{{url_for('static', filename='css/m/mui.min.css')}}" />
<link rel="stylesheet" href="{{url_for('static', filename='css/m/style.css')}}"/>
<link rel="stylesheet" href="{{url_for('static', filename='css/swiper.css')}}"/>
<link rel="stylesheet" href="{{url_for('static', filename='fonts/iconfont.css')}}"/>
<script type="text/javascript" src="{{url_for('static', filename='js/jquery.min.js')}}" ></script>
<script type="text/javascript" src="{{url_for('static', filename='js/mui.js')}}" ></script>
<script type="text/javascript" src="{{url_for('static', filename='js/swiper.js')}}" ></script>
<script type="text/javascript" src="{{url_for('static', filename='layer/layer.js')}}" ></script>
<script type="text/javascript" src="{{url_for('static', filename='js/pagination.js')}}" ></script>
<script type="text/javascript" src="{{url_for('static', filename='js/main.js')}}" ></script>
