<!--head-->
<div class="head">
	<div class="container cl">
		<div class="logo">
			<a href="" ><img width="250" height="70" alt="好券网" src=""></a>
		</div>
		<div class="search">
			<form id="query_form" method="get" action="">
				<input type="text" name="k" value="" class="input-text" placeholder="请输入您要查找的优惠券商品名称" />
				<i class="iconfont icon-sousuo"></i>
				<input type="submit" value="搜索" class="btn btn-main radius" />
			</form>
		</div>

		<!--<div class="barcode cl">
			<div class="f-l mr-5">
				<img src="" width="80" height="80">
			</div>
			<div class="f-l text-c">
				<h5 class="c-main">微信扫一扫</h5>
				<p>关注微信公众号<br>领券更方便</p>
			</div>
		</div>-->
	</div>
</div>
<!--nav-->
<div class="navigation">
	<div class="container cl">
		<ul>
			<li class="cur"><a href="/">首页</a></li>
			<li class="cur"><a href="">菜单1</a></li>
		</ul>
	</div>
</div>
<!--series-->
<div class="series">
	<div class="container cl">
		<ul>
			<li class="cur"><a href="">全部</a></li>
			<li class="cur"><a href="">1</a></li>
		</ul>
	</div>
</div>