<!--head-->
<div class="head">
	<div class="container cl">
		<div class="logo">
			<a href="" ><img width="250" height="70" alt="好券网" src=""></a>
		</div>
		<div class="search">
			<div id="query_form">
				<input type="text" name="k" value="" class="input-text" placeholder="请输入您要查找的优惠券商品名称" />
				<i class="iconfont icon-sousuo"></i>
				<input type="button" value="搜索" class="btn btn-main radius" />
			</div>
		</div>

		<!--<div class="barcode cl">
			<div class="f-l mr-5">
				<img src="" width="80" height="80">
			</div>
			<div class="f-l text-c">
				<h5 class="c-main">微信扫一扫</h5>
				<p>关注微信公众号<br>领券更方便</p>
			</div>
		</div>-->
	</div>
</div>
<!--nav-->
<div class="navigation">
	<div class="container cl">
		<ul>
            {% for menu in menus %}
                <li class="{% if menu|str_split(':')|get_list(1)|string==cur_q|string %}cur{% endif %}">
                    <a href="/q/{{ menu|str_split(':')|get_list(1)|b64encode }}">{{ menu|str_split(':')|get_list(0) }}</a>
                </li>
            {% endfor %}
		</ul>
	</div>
</div>
<!--series-->
<div class="series">
	<div class="container cl">
		<ul>
			<li class="{% if cur_q_i|string=='' %}cur{% endif %}"><a href="/q/{{ cur_q|string|b64encode }}">全部</a></li>
			{% for nav in navs %}
                <li class="{% if cur_q_i|string==material_map.get(cur_q|string)|get_list(loop.index-1) %}cur{% endif %}">
                    <a href="/q-t/{{ (cur_q|string+'-'+material_map.get(cur_q|string)|get_list(loop.index-1))|b64encode }}">{{ nav }}</a>
                </li>
            {% endfor %}
		</ul>
	</div>
</div>