			<div id="content">
				<div class="area" id="contentA"><div class="goods-list main-container"><ul class="clearfix">
<form action="{:U('/jump')}" id="jump" method="post" target="_blank">
<volist name='list' id="vo">
<if condition="$vo['coupon_click_url'] neq '' ">
<li class="<if condition='$i % 4 eq 0'>no-right</if>">
	<a style="display: block;" rel="{$vo.quan}" data-cnzz="{$vo.num_iid}"  quanurl="{$vo.coupon_click_url}" href="javascript:;" class="img cnzzCounter jump">
		<img src="{$vo.pic_url}_400x400" _hover-ignore="1">
		<div class="lq">
			<div class="lq-t">
				<p class="lq-t-d1">领优惠券</p>
				<p class="lq-t-d2">省<span>{$vo.quan}</span>元</p>
			</div>
			<div class="lq-b"></div>
		</div>
	</a>
	<div class="padding">
		<a rel="{$vo.quan}" href="javascript:;" data-cnzz="{$vo.num_iid}"  quanurl="{$vo.coupon_click_url}" class="title clearfix cnzzCounter jump">
			{$vo.title}</a>
		<div class="coupon-wrap clearfix">
			<p><span><font style="font-size: 26px;">{$vo.coupon_price}</font>元<i class="quanhou"></i></span>
				<span style="float: right;"><if condition="$vo.shop_type eq 'B'">天猫<else/>淘宝</if><font color="red">{$vo.price}</font>元</span></p>
			<p><i class="taobao"></i>月销量 <span class="num">{$vo.volume}</span>,
				<span>优惠券<font color="red">{$vo.quan}</font>元</span></p>
		</div>
	</div>
</li>
<else/>

<li class="<if condition='$i % 4 eq 0'>no-right</if>">
	<a style="display: block;" href="{$vo.linkurl}" target="_blank"  class="img cnzzCounter">
		<img src="{$vo.pic_url}_400x400" _hover-ignore="1">
		<div class="lq">
			<div class="lq-t">
				<p class="lq-t-d1">领优惠券</p>
				<p class="lq-t-d2">省<span>{$vo.quan}</span>元</p>
			</div>
			<div class="lq-b"></div>
		</div>
	</a>
	<div class="padding">
		<a href="{$vo.linkurl}" target="_blank"  class="title clearfix cnzzCounter">
			{$vo.title}</a>
		<div class="coupon-wrap clearfix">
			<p><span><font style="font-size: 26px;">{$vo.coupon_price}</font>元<i class="quanhou"></i></span>
				<span style="float: right;"><if condition="$vo.shop_type eq 'B'">天猫<else/>淘宝</if><font color="red">{$vo.price}</font>元</span></p>
			<p><i class="taobao"></i>月销量 <span class="num">{$vo.volume}</span>,
				<span>优惠券<font color="red">{$vo.quan}</font>元</span></p>
		</div>
	</div>
</li>

</if>
</volist>	

<input type="hidden" id="item" name="item" value=""/>
<input type="hidden" id="quan" name="quan" value=""/>
<input type="hidden" id="quanurl" name="quanurl" value=""/>			
		</form>			
				</ul>
				
				<div style="clear:both;"></div></div><div class="mainbody_6" style="margin: 0 auto;margin-bottom: 0px;margin-top: 26px;"><div id="yw0" class="pager">
					
					<if condition="$total_item gt 60">
						{$page}
						</if>
					
				</div></div>
				</div>
			</div>			

<script language="JavaScript">
$('.jump').on('click',function(){
					$("#item").val($(this).attr('data-cnzz'));
					$("#quan").val($(this).attr('rel'));
					$("#quanurl").val($(this).attr('quanurl'));
					$("#jump").submit(); 
})
</script>	